<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stash相册</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/floating-btn-menu.css">
    <link rel="stylesheet" href="/static/css/image_heart.css">
    <link rel="stylesheet" href="/static/css/files-container.css">
    <link rel="stylesheet" href="/static/css/folders-container.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link rel="stylesheet" href="/static/css/toolbar.css">
    <link rel="stylesheet" href="/static/css/light-theme.css">
    <link rel="stylesheet" href="/static/css/breadcrumb.css">
    <link rel="stylesheet" href="/static/css/pop_menu.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        a {
            text-decoration: none; /* 去掉下划线 */
        }

        .container {
            display: flex;
            flex-grow: 1;
            transition: margin-left 0.3s ease; /* 增加过渡效果 */
        }
    </style>
    <style>
        /* 禁止选择文本和拖动 */
        .no-select {
            user-select: none;
            -webkit-user-select: none; /* 对 Safari 生效 */
            -moz-user-select: none;    /* 对 Firefox 生效 */
            -ms-user-select: none;     /* 对 Internet Explorer 生效 */
        }
  </style>
</head>
<body>

<!-- 顶部工具栏 -->
<div class="toolbar no-select">
    <div>
        <span class="menu-btn" id="menu-btn"><i class="fa-solid fa-list" style="color:var(--icon-color)"></i></span>
        <!-- 新增主页按钮 -->
        <a href="{{ url_for('index') }}" id="home-icon" class="home-btn">
            <i class="fas fa-home" style="color:var(--icon-color)"></i> <!-- 白色房子图标 -->
        </a>

    </div>

    <span class="folders_name">{{ folder_name }}</span>

    <div class="icon-btn">
        <span id="like-icon-{{ folder_id }}" class="like-btn"
              onclick="toggleLike({{ folder_id }})">
            <i id="heart-icon-{{ folder_id }}"
               class="{% if folder_details[folder_id].like_status == 1 %}fas fa-heart{% else %}fa-solid fa-heart{% endif %}"
               style="color: {% if folder_details[folder_id].like_status == 1 %}red{% else %}'var(--icon-color)'{% endif %};"></i>
        </span>
        <!-- 删除图标 (垃圾桶形状) -->
        <span id="delete-icon-{{ folder_id }}" class="delete-btn" onclick="toggleDelete({{ folder_id }})">
            <i id="delete-icon-{{ folder_id }}-icon"
               class="fa fa-trash" datatype="{{ folder_details[folder_id].delete_status }}"
               style="color: {% if folder_details[folder_id].delete_status == 1 %}black{% else %}'var(--icon-color)'{% endif %};"></i>
        </span>
        <!-- 对勾图标 -->
        <span id="check-icon-{{ folder_id }}" class="check-btn" onclick="toggleReadStatus({{ folder_id }})">
                <i id="check-icon-{{ folder_id }}-icon"
                   class="{% if folder_details[folder_id].read_status == 1 %}fas fa-check-square{% else %}far fa-check-square{% endif %}"
                   style="color: {% if folder_details[folder_id].read_status == 1 %}lightgray{% else %}'var(--icon-color)'{% endif %};"></i>
        </span>
        <!-- 退出图标 -->
        <span id="setting-icon" class="setting-btn" onclick="toggleMenu()">
            <i class="fa-solid fa-gear" style="color:var(--icon-color)"></i> <!-- 只显示图标 -->
        </span>
        <div id="popupMenu">
            <ul>
                <li>
                    <i id="new-window-icon" class="fa-regular fa-window-restore" style="color:var(--primary-color)"></i>
                    <span>新窗口打开</span>
                    <label class="folder_control_label">
                        <input type="checkbox" id="openInNewWindow"/>
                    </label>
                </li>
                <li>
                    <i id="hide-read-icon" class="fa-regular fa-eye-slash" style="color:var(--primary-color)"></i>
                    <span>收起已读</span>
                    <label class="folder_control_label">
                        <input type="checkbox" id="toggleRead"/>
                    </label>
                </li>
                <li onclick=toggle_network_status({{ folder_id }})>
                    <!-- 新增网络切换按钮 -->
                    <a class="network-btn" >
                        <i id="network-toggle" class="{% if network_status == 0 %}fas fa-desktop{% else %}fa fa-globe{% endif %}" style="color:var(--primary-color)"></i>
                    </a>
                    <span>外网访问</span>
                </li>
                <li onclick="logout()">
                    <!-- 退出图标 -->
                    <span id="logout-icon" class="logout-btn" >
                        <i class="fas fa-sign-out-alt" style="color:var(--primary-color)"></i> <!-- 只显示图标 -->
                    </span>
                    <span>退出登录</span>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container no-select">
    <!-- 左侧：文件夹结构 -->
    <div id="folder_has_medias" data-folder-id="{{ folder_has_medias }}"></div>
    <div id="folder_id" data-folder-id="{{ folder_id }}"></div>
    <div id="parent_folder_id" data-folder-id="{{ parent_folder_id }}"></div>
    <div id="page" data-folder-id="{{ page }}"></div>
    <div id="total_pages" data-folder-id="{{ total_pages }}"></div>
    <div class="folders-container" id="folders-container">
        <div class="folder_control">

        </div>
        <div class="folders_draw">
            <ul id="folderList">
                {% for folder in root_folders %}

                    {% set folder_read = folder_details[folder.folder_id].read_status %}
                    {% set folder_like = folder_details[folder.folder_id].like_status %}
                    {% set folder_delete = folder_details[folder.folder_id].delete_status %}
                    <li id="{{ folder.folder_id }}"
                        class="folder {% if folder.folder_id == folder_id %} highlighted {% endif %}"
                        data-folder-read="{{ folder_read }}" data-folder-relative-path="{{ folder.relative_path }}">
                        <a onclick="goToFolder({{ folder.folder_id }}, {{ folder.parent_folder_id }})">
                            <div class="folder-bar"
                                 style="background-color: {% if folder_like == 1 and folder.relative_path != '上一级' %} #f5b1aa {% else %} transparent {% endif %};
                                         {% if folder_delete == 1 %} text-decoration: line-through; {% endif %};">
                                <span style="color: {% if folder_read == 0 or folder_like == 1 %} 'var(--text-color)' {% else %} #777 {% endif %};">{{ folder.relative_path }}</span>
                            </div>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- 右侧：文件内容展示 -->
    <div class="files-container" id="files-container">
        <div class="breadcrumb" id="breadcrumb">
            <div class="folder_path">
                <a href="{{ url_for('index', id=None) }}">根目录</a>
                {% for path_part, part_folder_id in current_path_parts %}
                    <span>/</span>
                    <a href="{{ url_for('index', id=part_folder_id) }}">{{ path_part.split('/')[-1] }}</a>
                {% endfor %}
            </div>
        </div>
        {% if all_urls %}
            <div class="grid-container">
                <div class="image-box" id="masonry-grid">
                    {% for url, link, is_video, file_id, file_like in all_urls %}
                        <div class="grid-item {% if is_video %}video{% endif %}">
                            <a href="{{ link }}" target="_blank">
                                <img src="{{ url }}" alt="图片"/>
                            </a>
                            {% if is_video %}
                                <div class="play-icon">&#9654;</div> <!-- 播放图标 -->
                            {% endif %}
                            <!-- 使用Font Awesome爱心图标 -->
                            <div class="like-icon" id="like-{{ file_id }}" data-liked="{{ file_like }}"
                                 onclick="toggleFileLike('{{ file_id }}', '{{ is_video }}')">
                                {% if file_like == 100 %}
                                    <i class="fas fa-heart"></i> <!-- 红色爱心 -->
                                {% else %}
                                    <i class="far fa-heart"></i> <!-- 空的爱心 -->
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- 翻页按钮 -->
                {% if total_pages > 1 %}
                    <div class="pagination" id="pagination">
                        <a id="prevPage" class="page-btn {% if page == 1 %} disabled {% endif %}"
                           href="{{ url_for('index', id=folder_id, page=page - 1) }}">上一页</a>
                        <span class="current-page">{{ page }} of {{ total_pages }}</span> <!-- 显示当前页数 -->
                        {#                        <span class="current-page">总页数：</span> <!-- 显示总页数 -->#}
                        <a id="nextPage" class="page-btn {% if page == total_pages %} disabled {% endif %}"
                           href="{{ url_for('index', id=folder_id, page=page + 1) }}">下一页</a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if folder_has_subfolders %}
                <div class="folders_view">
                    <!-- 子文件夹图标 -->
                    {% for folder in root_folders %}
                        <a class="folder-icon" id="folder-icon" data-folder-id="{{ folder.folder_id }}"
                           onClick="goToFolder({{ folder.folder_id }}, {{ folder.parent_folder_id }})">
                            <i class="fas fa-folder"></i> <!-- 文件夹图标 -->
                            <span>{{ folder.relative_path | truncate(25) }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-media-message">无媒体文件</div>
            {% endif %}

        {% endif %}
        <!-- 圆形按钮 -->
        <button id="actionButton" class="floating-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/read.js"></script>
<script src="/static/js/like.js"></script>
<script src="/static/js/delete.js"></script>
<script src="/static/js/floating-btn-menu.js"></script>
<script src="/static/js/image_heart.js"></script>
<script src="/static/js/folders.js"></script>
<script src="/static/js/images.js"></script>
<script src="/static/js/logout.js"></script>
<script src="/static/js/menu.js"></script>
<script src="/static/js/network.js"></script>
<script>
    function goToFolder(folder_id, parent_folder_id) {
        if (parent_folder_id === 3 || document.getElementById('openInNewWindow').checked) {
            window.open("{{ url_for('index') }}?id=" + folder_id, '_blank');
        } else {
            window.location.href = "{{ url_for('index') }}?id=" + folder_id;
        }
    }
    function toggleMenu() {
        var menu = document.getElementById('popupMenu');
        if (menu.style.display === 'none' || menu.style.display === '') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    }
</script>
</body>
</html>
